*~
*.pyc
*.pyo
core

build/
dist/
lib/
man/
local/
include/
*.egg-info/
*.egg/

.coverage
.coverage.*
pyvenv.cfg
.python-version
MANIFEST
*.egg
**.watsonrc

doc/.buildinfo
doc/.doctrees/
doc/doctrees/
doc/html/
doc/coverage/

htmlcov/

capmoe_web/password/*
!capmoe_web/password/.gitkeep
capmoe_app/config.py
capmoe_app/static/tmpimg/*
!capmoe_app/static/tmpimg/.gitkeep
capmoe_app/static/capimg/*
!capmoe_app/static/capimg/.gitkeep
*.npy
